@{
    // este pedaço de código está escrito em C#
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soluções de uma equação do 2º grau</h1>
    
</div>

<!-- Recolher os dados dos parâmetros de equação de 2º grau-->

<form>
    <div>
        <p>escreva os parâmetros da equação:</p>
        A=<input type="text" /> <br /></br>
        B=<input type="text" /> <br /></br>
        C=<input type="text" /> <br /></br>

        <input type="submit" value="Calcular"/>
    </div>
</form>